@charset "UTF-8";
/* Estilos básicos do botão */
  .button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 100px;
    margin: 0px;
  }
   .text{
    text-align: center;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.99%; /* 21.839px */
    letter-spacing: -0.42px;
    display: inline-flex;
    align-items: center;
   }


  /* Estilo para botões tipo dark */

  /* Default no botão dark */
  .dark {
    background-color: var(--color-g400);
    color: var(--color-g50);
    stroke: var(--color-g50);
    fill: var(--color-g50);
    border: none;
  }
  
  /* Hover no botão dark */
  .dark:hover {
    background-color: var(--color-g600);
    color: var(--color-g50);
  }
  
  /* Pressed (ativo) no botão dark */
  .dark:active {
    background-color: var(--color-g900);
    color: var(--color-g50);
  }
  


  /* Estilo para botões tipo default */

  /* Default no botão default */
  .default {
    background-color: var(--color-white);
    color: var(--color-g900);
    stroke: var(--color-g900);
    fill: var(--color-g900);
    border: none;
  }
  
  /* Hover no botão default */
  .default:hover {
    background-color: var(--color-g50);
    color: var(--color-g900);
    stroke: var(--color-g900);
    fill: var(--color-g900);
    border: none;
  }
  
  /* Pressed (ativo) no botão default */
  .default:active {
    background-color: var(--color-g200);
    color: var(--color-g900);
    stroke: var(--color-g900);
    fill: var(--color-g900);
    border: none;
  }
  


  /* Estilo para botões tipo light */

  /* Default no botão light */
  .light {
    background-color: var(--color-white);
    color: var(--color-g400);
    stroke: var(--color-g400);
    fill: var(--color-g400);
    border: 2px solid var(--color-g400);
  }
  
  /* Hover no botão light */
  .light:hover {
    background-color: var(--color-white);
    color: var(--color-g600);
    stroke: var(--color-g600);
    fill: var(--color-g600);
    border: 2px solid var(--color-g600);
  }
  
  /* Pressed (ativo) no botão light */
  .light:active {
    background-color: var(--color-white);
    color: var(--color-g900);
    stroke: var(--color-g900);
    fill: var(--color-g900);
    border: 2px solid var(--color-g900);
  }
  


  /* Estilo para o estado disabled (desabilitado) */
  .dark.disabled {
    background-color: var(--color-g200);
    color: var(--color-g50);
    stroke: var(--color-g50);
    fill: var(--color-g50);
    border: none;
    cursor: not-allowed;
  }

  .default.disabled {
    background-color: var(--color-white);
    color: var(--color-g300);
    stroke: var(--color-g300);
    fill: var(--color-g300);
    border: none;
    cursor: not-allowed;
  }

  .light.disabled {
    background-color: var(--color-white);
    color: var(--color-g200);
    stroke: var(--color-g200);
    fill: var(--color-g200);
    border: 2px solid var(--color-g300);
    cursor: not-allowed;
  }
  


  /* Estilo para o ícone dentro do botão */
  .icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
  }
  


  /* Estilo para sombra */
  .shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }